body{
    width:100vw;
    height:100vh;
    background-image: linear-gradient(
      
      pink,
      blue,
      white
    );
  }
  h1{
    text-align: center;
  }
  form{
    text-align: center;
  }
  
  input[type=text]{
  height:30px;
  width:200px;
  text-align: center;
    border-radius: 50px;
    border: 2px solid black;
    background-color: rgb(134, 217, 189);
    font-size: 16px;
  }
  button{
    width: 150px;
    height: 40px;
    font-size: 15px;
    border-radius: 50px;
    background-color: aquamarine;
    border: 2px solid black;
  
  
  }
  
  label{
    font-weight: bold;
    font-size:20px;
  }
  #innerbox{
  width:fit-content;
   height: fit-content; 
    border: 2px solid black;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    background-color: rgb(178, 134, 218);
    
  }
  
  #outerbox{
    width: 70%;
    border: 2px solid black;
    padding: 10px;
    background-color: rgb(194, 159, 192);
     margin-left: 120px; 
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap:12px;
    
  }